{% extends "base.html" %}
{% block content %}

<title>Choose Your Role | ApnaMistri</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/choose_role.css') }}">

<body>

    <!-- TOPBAR 
    <header class="topbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo">
            <span>ApnaMistri</span>
        </div>
    </header>-->

    <!-- MAIN CONTAINER -->
    <div class="role-container">

        <div class="glass-card">

            <h1>Choose Your Role</h1>
            <p class="subtitle">Are you here to hire services or offer your skills?</p>

            <div class="role-options">

                <!-- CUSTOMER CARD -->
                <div class="role-card customer" >
                    <div class="icon">👥</div>
                    <h3>I want to HIRE</h3>
                    <p class="role-label" value="customer">Customer</p>
                </div>

                <!-- WORKER CARD -->
                <div class="role-card worker" >
                    <div class="icon">🛠</div>
                    <h3>I want to WORK</h3>
                    <p class="role-label" value="worker">Worker</p>
                </div>

            </div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/choose_role.js') }}"></script>

</body>
{% endblock %}
