{% extends "base.html" %}
{% block content %}
<title>Profile</title>
<link rel="stylesheet" href="/static/css/customerprofile.css">
<body>

<!-- ===== MAIN CONTENT ===== -->
<main class="main">
<h2 class="title">Customer Profile</h2>

<div class="card">

    <!-- Profile Header -->
    <div class="profile-header">

        <div>
            <h3>{{ user.name }}</h3>
            <p class="join">Joined: {{ user.joined_date }}</p>
        </div>
        <!-- Man Logo beside Customer Name -->
        <div class="avatar-wrapper">
        <img src="{{ user.photo_url }}" class="avatar" id="profilePreview">

        <input type="file" id="photoInput" accept="image/*" hidden>

        <button id="changePhotoBtn" class="photo-btn" style="display:none;">
            Change Photo
        </button>
        </div>

    </div>


    <div class="section">Personal Information</div>

        <label>Full Name</label>
    <input type="text" id="name" value="{{ user.name }}" disabled>

    <label>Phone Number</label>
    <input type="text" id="phone" value="{{ user.phone }}" disabled>

    <label>Email Address</label>
    <input id="email"   type="email" value="{{ user.email }}" disabled>

    <div class="grid">
        <div>
            <label>Address</label>
            <textarea id="address" rows="4" disabled>{{ user.address.fulladdr }}</textarea>
        </div>

        <div>
            <label>City</label>
            <input id="city" type="text" value="{{ user.address.city }}" disabled>
            <label>PIN Code</label>
            <input id="pincode" type="text" value="{{ user.address.pincode }}" disabled>
        </div>
    </div>

   <button id="editBtn" class="save-btn">Edit Profile</button>
   <button id="saveBtn" class="save-btn" style="display:none;">Save Changes</button>

</div>
</main>
<script src="/static/js/customerprofile.js"></script>
</body>

{% endblock %}