{% extends "base.html" %}
{% block content %}
<body>
<link rel="stylesheet"
href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/search.css') }}">

<div class="search-area">
    <input type="text" id="tradeInput" placeholder="Search trade...">
    <!-- Radius -->
    <select id="radiusSelect">
        <option value="5">Within 5 km</option>
        <option value="10" selected>Within 10 km</option>
        <option value="20">Within 20 km</option>
    </select>

    <label>
        <input type="checkbox" id="verifiedOnly">
        Verified Only
    </label>

    <button id="searchBtn">Find Workers</button>

    <button id="pickLocationBtn">📍 Pick on Map</button>
    <span id="selectedLocationText">No location selected</span>

</div>

<div class="layout">

    <div class="rightSide">

        <!-- MAIN MAP -->
        <div id="gpsBox" style="height:500px;"></div>

    </div>

</div>

<!-- LOCATION MODAL -->
<div id="mapModal" class="modal">
    <div class="modal-content">
        <h3>Select Your Location</h3>
        <div id="locationMap" style="height:400px;"></div>
        <button id="confirmLocation">Confirm</button>
        <button id="closeMap">Cancel</button>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body> 
{% endblock %}