{% extends "base.html" %}

{% block content %}
<title>ApnaMistri - Customer Setup</title>

<!-- Link CSS -->
<link rel="stylesheet" href="/static/css/usersetup.css">


<body>

<div class="setup-card">
  <form id="userSetupForm" enctype="multipart/form-data">
  <h2>Complete Your Profile</h2>
  <p class="subtitle">
    Set up your customer account to start booking services.
  </p>

  <div class="input-group">
    <label>Full Name *</label>
    <input  id="name" name="name" type="text" placeholder="Enter full name">
  </div>

  <div class="input-group">
    <label>Profile Photo</label>
    <input  id="profile_photo"  class="file-input" type="file">
  </div>

  <div class="input-group">
    <label>Phone Number *</label>
    <input  id="phone" name="phone"  type="tel" placeholder="+91XXXXXXXXXX">
  </div>

  <div class="input-group">
    <label>Email Address *</label>
    <input id="email"  name="email" type="email" placeholder="example@email.com">
  </div>

  <div class="input-group">
    <label>Address *</label>
    <textarea id="address" name="address" rows="2" placeholder="Enter full address"></textarea>
  </div>

  <div class="row">
    <div class="input-group">
      <label>City *</label>
      <input  id="city" name="city" type="text" placeholder="City">
    </div>

    <div class="input-group">
      <label>PIN Code *</label>
      <input id="pincode" name="pincode" type="text" placeholder="700091">
    </div>
  </div>

  <button type="submit">Next</button>
</form>
</div>
<script src="/static/js/user_setup.js"></script>
</body>
{% endblock %}